<h4>Welcome to Sport.com</h4>
<p><b>Congratulation <%= @athlete.name %></b></p>
<p>Your account successfully activated for Sport.com.<p>
<p>Thankyou for co-operation.</p>
<p>
  For any query send mail to Admin at <b>anand.tripathi@clariontechnoloagies.co.in </b>
</p>
<p>Thanks have a good day</p>