<h1>Welcome to example.com, <%= @athlete.name %></h1>
<p><b>
  Congratulation <%= @athlete.name %>
  Your account successfully activated for Sport.com.
  Thankyou for co-operation.
  <br></b>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks have a good day</p>