<h1>Welcome to example.com, <%= @athlete.name %></h1>
<p><b>
  Hello <%= @athlete.name %>
  Your account De-activated for Sport.com.
  For any further information contact to Admin.
  <br></b>
</p>
<p>
  For account activation send mail to Admin at <b>anand.tripathi@clariontechnoloagies.co.in </b>
</p>
<p>Thanks have a good day</p>