<h4>Welcome to example.com, <%= @athlete.name %></h4>
<p><b>Hello <%= @athlete.name %></b></p>
<p>Your account De-activated for Sport.com.</p>
<p>For any further information contact to Admin.</p>
<p>
  For account activation send mail to Admin at <b>anand.tripathi@clariontechnoloagies.co.in </b>
</p>
<p>Thanks have a good day</p>