// Place all the styles related to the athletes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {border-collapse: collapse; width:40% }
table td, th {border: 2px groove}
th { padding: 3px; color: blue; }
td { padding: 2px; }


.athlete_show
{
	height: 200px; width:300px;margin-left:160px;float:right; 
}

.athlete_show_detail
{
	height:220px; width:300px;float:right;margin-left: 167px
}
.athlete_show_comment
{
	margin-left:200px;float:right;margin-right: 200px;
}
.athlete_show_like
{
	margin-left:247px;float:left;position:absolute;margin-top:223px
}
.red
{
  background-color:red;
}

.grey
{
  background-color:grey;
}

.Lavender
{
  background-color:Lavender;
}

.error_explanation
{
  color:red;
}

.field_with_errors { 
  display: inline;
}